# Excluir carpeta de ofertas
ofertas-toku-dcc/

# Excluir análisis
ANALISIS_TOKU_ENTREVISTA.md
CLAUDE.md

# Otros archivos compilados
# Otros archivos compilados
*.dvi
*.aux
*.toc
*.fdb_latexmk
*.idx
*.ps
*.pdf
*.out
*.log

# Archivos de sistema
.DS_Store
Thumbs.db
